In [1]:
import pandas as pd
na_values = ['NO CLUE', 'N/A', '0']
data = pd.read_csv('C:/Users/One/Downloads/Dataset/dataframe_titanic/titanic.csv', na_values=na_values, delimiter=',')

In [2]:
columList = data.columns.tolist()
for val in columList:
    print(data[val].value_counts())

1.0    342
Name: Survived, dtype: int64
3    487
1    216
2    184
Name: Pclass, dtype: int64
Mr. Kanio Ivanoff                                      1
Mr. Gustaf Joel Johansson                              1
Mrs. James (Helene DeLaudeniere Chaput) Baxter         1
Mr. Pekka Pietari Hakkarainen                          1
Mr. Johan Ekstrom                                      1
                                                      ..
Miss. Clear Annie Cameron                              1
Mr. August Edvard Andersson                            1
Mr. Emil Christmann                                    1
Mr. Charles Hallace Romaine                            1
Mrs. Pekka Pietari (Elin Matilda Dolck) Hakkarainen    1
Name: Name, Length: 887, dtype: int64
male      573
female    314
Name: Sex, dtype: int64
22.00    39
28.00    37
18.00    36
21.00    34
24.00    34
         ..
70.50     1
36.50     1
23.50     1
55.50     1
0.42      1
Name: Age, Length: 89, dtype: int64
1.0    209
2.0     28
4.0     18
3.0     16
8.0      7
5.0      5
Name: Siblings/Spouses Aboard, dtype: int64
1.0    118
2.0     80
3.0      5
5.0      5
4.0      4
6.0      1
Name: Parents/Children Aboard, dtype: int64
8.0500     43
13.0000    42
7.8958     36
7.7500     33
26.0000    31
           ..
32.3208     1
13.8583     1
7.6292      1
15.0500     1
8.6833      1
Name: Fare, Length: 247, dtype: int64