Работу выполнили студенты 2 курса Высшей Школы ИТИС группы 11-803, Артемьев Артем и Арсембекова Талия

**Контекст:** Супермаркет предлагает новую линейку органических продуктов. Руководство супермаркета хочет определить, какие клиенты, скорее всего, купят эти продукты.

**Описание:** В супермаркете действует программа лояльности клиентов. В качестве плана для первоначального стимулирования покупок всем участникам программы лояльности были предложены купоны на покупку органических продуктов. Затем были собраны данные о том, купили ли эти клиенты какой-либо из органических продуктов.

**Цель:** Исследовать модель для предсказания влияний купонов на покупку товара.

In [10]:
import pandas as pd

In [11]:
data = pd.read_csv('C:/Users/One/Downloads/Dataset/dataframe_ORGANICS/ORGANICS.csv', na_values=na_values, delimiter=',')
data.head()

,ID,DemAffl,DemAge,DemCluster,DemClusterGroup,DemGender,DemReg,DemTVReg,PromClass,PromSpend,PromTime,TargetBuy,TargetAmt
0,140,10.0,76.0,16.0,C,U,Midlands,Wales & West,Gold,16000.00,4.0,NaN,NaN
1,620,4.0,49.0,35.0,D,U,Midlands,Wales & West,Gold,6000.00,5.0,NaN,NaN
2,868,5.0,70.0,27.0,D,F,Midlands,Wales & West,Silver,0.02,8.0,1.0,1.0
3,1120,10.0,65.0,51.0,F,M,Midlands,Midlands,Tin,0.01,7.0,1.0,1.0
4,2313,11.0,68.0,4.0,A,F,Midlands,Midlands,Tin,0.01,8.0,NaN,NaN

**Описание датасета:**

**ID** - ид клиента-участника программы лояльности 

**DemAffl** - уровень дохода клиента (от 1 до 30) 

**DemAge** - возраст клиента

**DemCluster** - тип района, в котором живет клиент 

**DemClusterGroup** - область проживания 

**DemGender** - M = мужской, F = женский, U = неопределенный 

**DemReg** - географический район 

**DemTVReg** - регион телевещания 

**PromClass** - Статус программы лояльности: tin - оловянный, silver - серебряный, gold - золотой, platinum - платинум 

**PromSpend** - общая потраченная сумма 

**PromTime** - срок участия в программе лояльности 

**TargetBuy** - был ли приобретен ли продукт: 0 = Нет, 1 = Да 

**TargetAmt** - количество приобритенных продуктов